body{

background:linear-gradient(
135deg,
#134E5E,
#71B280);

min-height:100vh;

font-family:Arial,sans-serif;

color:#ffffff;

}


/* Navbar */

.navbar{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

box-shadow:0px 3px 10px rgba(0,0,0,0.3);

}


/* Welcome Box */

.welcome-box{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0px 5px 15px rgba(0,0,0,0.2);

color:#134E5E;

}


/* Dashboard Cards */

.dashboard-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

transition:0.5s;

box-shadow:0px 5px 15px rgba(0,0,0,0.2);

margin-top:20px;

color:#134E5E;

}


.dashboard-card i{

font-size:45px;

margin-bottom:10px;

color:#2E8B57;

}


.dashboard-card:hover{

transform:translateY(-10px);

cursor:pointer;

box-shadow:0px 10px 25px rgba(0,0,0,0.3);

}


/* Cards */

.card{

border-radius:20px;

transition:0.5s;

border:none;

}


.card:hover{

transform:scale(1.03);

}


/* Buttons */

.btn{

border-radius:30px;

padding:10px 25px;

background:linear-gradient(
135deg,
#2E8B57,
#3CB371);

border:none;

color:white;

font-weight:bold;

transition:0.4s;

}


.btn:hover{

background:linear-gradient(
135deg,
#3CB371,
#2E8B57);

transform:scale(1.05);

}


/* Headings */

h2,h4{

font-weight:bold;

color:#134E5E;

}